regex
requests
aiohttp==3.7.4.post0
async-timeout==3.0.1
attrs==21.4.0
brotlipy==0.7.0
certifi==2022.6.15
cppdep==0.2.4
discord==1.7.3
discord.py==1.7.3
docopt==0.6.2
filelock==3.7.1
multidict==6.0.2
networkx==2.8.4
pdf2image==1.16.0
Pillow==10.0.1
pipenv==2022.6.7
pydot==1.4.2
pydotplus==2.0.2
pykwalify==1.8.0
pyparsing==3.0.9
python-dateutil==2.8.2
PyYAML==6.0
reportlab==3.6.13
ruamel.yaml==0.17.21
ruamel.yaml.clib==0.2.6
six==1.16.0
virtualenv==20.14.1
virtualenv-clone==0.5.7
yarl==1.7.2
